body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.titulo {
    text-align: center;
    margin-top: 20px;
}

.filtro-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}

.filtro-form {
    display: flex;
    gap: 10px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #111827;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f5f9;
}

/* FORM INLINE */
.inline-form {
    display: inline-flex;
    gap: 5px;
}

/* INPUT */
input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BOTÕES */
button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.btn-success {
    background: #16a34a;
}

.btn-success:hover {
    background: #15803d;
}

/* STATUS */
.status {
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.Recebida {
    background: gray;
}

.Classificada {
    background: orange;
}

.EmProcesso {
    background: #2563eb;
}

.Concluida {
    background: #16a34a;
}
.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.sidebar a:hover {
    color: #60a5fa;
}

.content {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h2 {
    margin: 0;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}